:root {
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
}

.c-laranja { color: var(--laranja); }
.c-azul { color: var(--azul); }
.c-rosa { color: var(--rosa); }
.c-verde { color: var(--verde); }
.c-cinza { color: silver; }

.bg-laranja { background-color: var(--laranja); }
.bg-azul { background-color: var(--azul); }
.bg-rosa { background-color: var(--rosa); }
.bg-verde { background-color: var(--verde); }

.copyright { margin-top: 15px; }
.author { font-weight: bold; }
.cArrow { cursor: default; }
.cHand { cursor: pointer; }

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    color: var(--azul);
}

header, footer {
    background-color: var(--azul);
}

/* trabalha em conjunto com a div HTML h-spacer */
header {
    top:0;
    position: fixed;
    z-index: 9999;
}

#offCarrinho, #offUser {
    margin-top: 60px;
    margin-bottom: 5px;
}
.petiscos {
    color: var(--azul);
    justify-content: center;
}
.petiscos p {
    padding-top: 30px;
}
h4 {
    padding: 30px;
}


.cartItem {
    height: 70px;
}
.card-price {
    color: var(--verde);
    font-weight: bold;;
}
.cartTotal {
    margin-top: 10px;
    border-top: 1px solid black;
}


form  {
    width: 80%;
}
form button {
    margin-top: 10px;
}
.btn-form {
    color: black;
    background-color: var(--rosa);
    border: none;
}
.btn-form:hover {
    background-color: var(--azul);
}

.produtos, .adocao {
    padding-top: 50px;
}