/* * {
    margin:0;
    padding: 0;
} */

:root {
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
}

header, footer {
    background-color: var(--azul);
}

header {
    z-index: 9999;
    margin-bottom: 50px!important;
}
.banner {
    color: var(--azul);
    justify-content: center;
}
.banner h4, .banner p {
    text-align: center;
}
h4, .banner p {
    margin: 30px;
}
form  {
    width: 80%;
}
form button {
    margin-top: 10px;
}

.copyright { margin-top: 15px; }
.author { font-weight: bold; }
.c-laranja { color: var(--laranja); }
.c-azul { color: var(--azul); }
.c-rosa { color: var(--rosa); }
.c-verde { color: var(--verde); }

.bg-laranja { background-color: var(--laranja); }
.bg-azul { background-color: var(--azul); }
.bg-rosa { background-color: var(--rosa); }
.bg-verde { background-color: var(--verde); }

.btn-form {
    color: black;
    background-color: var(--rosa);
    border: none;
}
.btn-form:hover {
    background-color: var(--azul);
}
.card-price {
    color: var(--verde);
    font-weight: bold;;
}

.cArrow { cursor: default; }
.cHand { cursor: pointer; }

.cartItem {
    height: 70px;
}
.cartTotal {
    margin-top: 10px;
    border-top: 1px solid black;
}
